.jsgrid-cell {
    padding: .3em;
    vertical-align: top;
    background-color: azure;
}

.jsgrid-header-row > .jsgrid-header-cell {
    background-color: lightcyan;
}

.jsgrid-row > .jsgrid-cell {
    background-color: azure;
}

.jsgrid-header-cell {
    padding: .3em .1em;
}

.jsgrid-edit-row input {
    padding: .8em .8em;
}

#runningAnimation {
    display: none;
    margin: -150px;
}

#image-socket-ball {
    width: 20px;
}

.STATUS {
    color: white;
    padding: 5px;
}

.REQUESTED {
    background-color: blue;
}

.ACCEPTED {
    background-color: green;
}

.DENIED {
    background-color: red;
}

.WITHDRAWN {
    background-color: lightcoral;
}

body {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0 0 0 0px;
    margin: 2px;
    color: #172e40;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1px;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0.1em 0.1em 0.1em;
}

.jsgrid {
    font-size: 12px;
}

.jsgrid-nodata-row .jsgrid-cell {
    padding: 0.2em 0;
}


.tableTop {
    display: table;
}

.headerTop {
    display: table-header-group;
    font-weight: bold;
}

.rowTop {
    display: table-row;
}

.rowGroupTop {
    display: table-row-group;
}

.cellTopLeft {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.cellTopRight {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
